.countries {
  display: flex;
}
/* Add your own CSS code below */
.countries--first {
  align-items: center;
  margin-right: 310px;
  flex-direction: row;
}
.countries--second {
  align-items: flex-end;
  margin-right: 310px;
  flex-direction: row;
}
.countries--third {
  align-items: flex-end;
  margin-right: 310px;
  flex-direction: column;
}
.countries--fourth {
  align-items: center;
  margin-right: 310px;
  flex-direction: column-reverse;
}
